---
import Events from '@components/Events.astro';
import FAQ from '@components/FAQ.astro';
import Footer from '@components/layout/Footer.astro';
import GetStarted from '@components/GetStarted.astro';
import Navbar from '@components/layout/navbar.astro';
import Hero from '@components/Hero.astro';
import Overview from '@components/Overview.astro';
import Pathway from '@components/Pathway.astro';
import Resources from '@components/Resources.astro';
import Sponsors from '@components/Sponsors.astro';
import Support from '@components/Support.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import copy from '@data/copy.en.json';

const lang = 'en';
---

<BaseLayout lang={lang} title={copy.site.title} description={copy.site.description} class="pt-6">
  <Navbar lang={lang} />
  <main
    class="container-center relative flex-col scroll-smooth text-start before:fixed before:top-0 before:left-0 before:z-20 before:h-[80px] before:w-full before:bg-gradient-to-b before:from-black before:to-transparent before:content-[''] after:fixed after:bottom-0 after:left-0 after:z-20 after:h-[80px] after:w-full after:bg-gradient-to-t after:from-black after:to-transparent after:content-['']"
  >
    <Hero lang={lang} />
    <Events lang={lang} dict={copy} />
    <Overview lang={lang} />
    <Pathway lang={lang} />
    <GetStarted lang={lang} />
    <Resources lang={lang} />
    <Support lang={lang} />
    <Sponsors lang={lang} />
    <FAQ lang={lang} />
  </main>
  <Footer />
</BaseLayout>
